/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Automata';
    src: url('assets/fonts/AUTOMATA.ttf') format('truetype');
}

body {
    font-family: 'Automata', sans-serif;
    background: url('assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #f4f4f4;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.github-link,
.youtube-link,
.discord-link {
    position: absolute;
    top: 15px;
    font-size: 1.5em;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.github-link:hover,
.youtube-link:hover,
.discord-link:hover {
    color: #fff;
}

.github-link {
    right: 10px;
}

.youtube-link {
    right: 50px;
}

.discord-link {
    right: 90px;
}

.title {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}

.menu-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.5em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-icon:hover {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 10px;
    left: -100%;
    width: 70%;
    max-width: 280px;
    height: calc(100vh - 20px);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(33px);
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.active {
    left: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a:hover {
    color: #fff;
    transform: scale(1.1);
}

.about p {
    font-size: 1em;
    margin-bottom: 20px;
}

.features h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.showcase-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.showcase-item.reverse {
    flex-direction: column;
}

.showcase-item .image {
    flex: none;
    width: 100%;
    max-width: 300px;
    margin: 0 0 15px 0;
}

.showcase-item .image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.showcase-item .image img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.showcase-item .info {
    flex: none;
    text-align: center;
}

.showcase-item .info h3 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.showcase-item .info p {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 10px;
}

.download {
    margin: 20px 0;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(10px);
}

.download-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

.download-btn:active {
    transform: translateY(1px);
}

footer {
    margin-top: 20px;
}

.footer-text {
    font-size: 0.9em;
    color: #ccc;
}

/* Media Queries for Desktop */
@media (min-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 60px;
        border-radius: 25px;
    }

    header {
        margin-bottom: 40px;
    }

    .logo {
        width: 230px;
    }

    .github-link,
    .youtube-link,
    .discord-link {
        font-size: 2em;
        top: 20px;
    }

    .github-link {
        right: 50px;
    }

    .youtube-link {
        right: 100px;
    }

    .discord-link {
        right: 150px;
    }

    .title {
        font-size: 3em;
        margin-bottom: 40px;
    }

    .menu-icon {
        font-size: 2em;
        top: 20px;
        left: 20px;
    }

    .sidebar {
        top: 28px;
        width: 280px;
    }

    .sidebar.active {
        left: 25px;
    }

    .sidebar ul li a {
        font-size: 1.5em;
    }

    .about p {
        font-size: 1.2em;
    }

    .features h2 {
        font-size: 2em;
    }

    .showcase-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .showcase-item.reverse {
        flex-direction: row-reverse;
    }

    .showcase-item .image {
        flex: 1;
        margin-right: 40px;
    }

    .showcase-item .image img {
        max-width: 350px;
    }

    .showcase-item .info {
        flex: 1;
        text-align: left;
    }

    .showcase-item .info h3 {
        font-size: 2em;
    }

    .showcase-item .info p {
        font-size: 1.2em;
    }

    .download-btn {
        padding: 15px 30px;
        font-size: 1.5em;
    }

    .footer-text {
        font-size: 1em;
    }
}
